.link-list {
  &.-darkMode {
    background-color: var(--ref-key-colors-black, #000);
  }

  &--col {
    border-top: 1px solid var(--ref-key-colors-black, #000);
    padding: var(--spacing-5, 1.25rem) 0;

    .-darkMode & {
      border-color: var(--ref-key-colors-white, #fff);
    }

    &:first-child {
      border: none;
    }

    &.-image {
      text-align: center;

      @media (min-width: 1200px) {
        text-align: left;
      }
    }

    &.-reverse {
      order: 4;
    }

    @media (min-width: 1200px) {
      border: none;
      flex: 1 0 auto;
      padding: 0;
    }
  }

  &--icon {
    svg {
      height: 1rem;
      width: 1rem;
    }
    @media (min-width: 1200px) {
      display: none;
    }
  }

  &--image {
    margin-bottom: var(--spacing-2, 0.5rem);
    max-width: var(--spacing-14, 10rem);
  }

  &--link {
    color: var(--ref-key-colors-black, #000);
    display: block;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    text-decoration: underline;

    .-darkMode & {
      color: var(--ref-key-colors-white, #fff);
    }

    @media (min-width: 768px) {
      font-size: 1rem;
    }

    @media (min-width: 1200px) {
      font-size: 1.125rem;
    }
  }

  &--list {
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    transform-origin: top;

    [data-open="false"] & {
      max-height: 0;
      opacity: 0;
      z-index: -1;
    }

    [data-open="true"] & {
      max-height: 10rem;
      opacity: 1;
    }

    @media (min-width: 1200px) {
      margin-bottom: var(--spacing-9, 3rem);

      [data-open="false"] & {
        max-height: 10rem;
        opacity: 1;
      }
    }
  }

  &--row {
    @media (min-width: 1200px) {
      display: flex;
      margin: 0 auto;
      max-width: 1170px;
      width: 100%;
    }
  }

  &--sectionTitle {
    align-items: center;
    background-color: transparent;
    border: none;
    color: var(--ref-key-colors-black, #000);
    display: flex;
    flex-wrap: nowrap;
    font-size: 1.125rem;
    font-weight: 600;
    justify-content: space-between;
    line-height: 1.333;
    margin-bottom: var(--spacing-5, 1.25rem);
    padding: 0;
    position: relative;
    width: 100%;

    .-darkMode & {
      color: var(--ref-key-colors-white, #fff);
    }

    @media (min-width: 768px) {
      font-size: var(--spacing-5, 1.25rem);
    }

    @media (min-width: 1200px) {
      font-size: var(--spacing-6, 1.5rem);
      width: 80%;
    }
  }

  &--title {
    color: var(--ref-key-colors-black, #000);
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.333;
    margin-bottom: var(--spacing-5, 1.25rem);

    .-darkMode & {
      color: var(--ref-key-colors-white, #fff);
    }

    @media (min-width: 768px) {
      font-size: 1.25rem;
    }

    @media (min-width: 1200px) {
      font-size: 1.5rem;
    }
  }
}
