.hero-banner {
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;
  
    &.-mobile-bottom {
      align-items: flex-end;
    }
  
    &.-mobile-top {
      align-items: flex-start;
    }
  
    @media (min-width: 1200px) {
      min-height: 44rem;
  
      &.-mobile-top,
      &.-mobile-bottom {
        align-items: center;
      }
    }
  
    &--container {
      align-items: center;
      display: flex;
      flex-direction: column;
      min-height: 40rem;
      width: 100%;
  
      @media (min-width: 1200px) {
        align-items: flex-start;
        max-width: 41.25rem;
      }
  
      .-mobile-bottom & {
        margin-bottom: var(--spacing-10, 4rem);
      }
  
      .-filledBox & {
        background-color: var(--sys-light-on-surface, #000);
        padding: var(--spacing-6, 1.5rem);
      }
  
      .-filledBox.-darkMode & {
        background-color: var(--sys-light-inverse-on-surface, #fff);
      }
    }
  
    &--content {
      display: flex;
      margin: 0 auto;
      max-width: 1170px;
      padding: 5rem var(--spacing-8, 1.5rem);
      width: 100%;
  
      .-centered & {
        justify-content: center;
      }
  
      .-reverse & {
        justify-content: flex-end;
      }
    }
  
    &--title,
    &--subtitle {
      color: var(--text-title, #fff);
      font-family: var(--heading-h1-font-family);
      font-weight: var(--heading-h1-font-weight);
      font-size: 4rem;
      text-align: center;
      text-transform: var(--heading-h1-text-case);
      margin: 0;
    }
  
    &--subtitle {
      color: var(--text-accent, #fff);
      font-weight: 600;
      margin-bottom: auto;
    }
  
    @media (min-width: 1200px) {
      &--title,
      &--subtitle {
        font-size: var(--heading-h1-font-size);
        text-align: left;
      }
  
    }
  
    &--background {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
  
      > span {
        height: 100% !important; // overriding next image styles
        width: 100% !important; // overriding next image styles
      }
  
      img,
      video {
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }
  
    &::after {
      background-image: linear-gradient(90deg, #fff, transparent 75%);
      content: "";
      height: 100%;
      left: 0;
      object-fit: cover;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
    }
  }